* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header img {
    position: relative;
    top: 20px;
    left: 80px;
}

header {
    background: #e4d0e3;
    margin-bottom: 20px;
    width: 100%;
    /* Serve para fazer o circulo do header */
    min-height: 50vh;

    clip-path: circle(100vh at 50% -50vh);
}

#img_header {
    margin-left: 35%;
}

header h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    font-family:'Roboto',arial,sans-serif;
}

header h4 {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto',arial,sans-serif;
    font-size: 30px;
}

/* DIVS DO BODY */

#container {
    width: 100%;
    height: 400px;
    margin-top: 10%;
}

.box {
    float: left;
    margin: 0px 50px;
    background: #e4d0e3;
    width: 350px;
    height: 400px;
}

/* PRIMEIRA DIV */

#primeira {
    margin-left: 90px;

    border-radius: 40px;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 20px;
}

#primeira h6,h4 {
    font-family:'Roboto',arial,sans-serif;
}

#primeira p {
    font-family:'Roboto',arial,sans-serif;
    font-size: 15px;
}

#primeira img {
    width: 300px;
    padding-top: 70px;
} 

/* SEGUNDA DIV */

#segunda {
    border-radius: 40px;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 20px;
} 

#segunda h6,h4 {
    font-family:'Roboto',arial,sans-serif;
}

#segunda p {
    font-family:'Roboto',arial,sans-serif;
    font-size: 15px;
}

#segunda img {
    width: 400px;
    padding-top: 50px;
    padding-right: 90px;
} 

/* TERCEIRA DIV */

#terceira {
    border-radius: 40px;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 20px;
} 

#terceira h6,h4 {
    font-family:'Roboto',arial,sans-serif;
}

#terceira p {
    font-family:'Roboto',arial,sans-serif;
    font-size: 15px;
}

#terceira img {
    width: 235px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

/* DIV DAS CORES */

#container_2 {
    width: 60%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.box2 {
    float: right;
    margin: 0px 50px;
    width: 315px;
    margin-left: 60px;
}

#cores h5,h1 {
    font-family:'Roboto',arial,sans-serif;
}

#cores p {
    font-family:'Roboto',arial,sans-serif;
    font-size: 15px;
}

/* AJUSTAR OS BOTÕES DE NAVEGADOR */
 
#slider {
    width: 300px;
    height: 400px;
    margin-top: -15px;

    /* Comando para esconder as imagens(deixar uma atras da outra. */
    overflow: hidden;
    position: absolute;
}

#navigation-bar {
    position: absolute;
    bottom: 20px;
    display: flex;
}

input {
    display: none;
}

input:focus {
    border: 2px solid yellow;
}

.manual-btn {
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    padding-left: 30px;
}

.manual-btn:nth-child(1){
    margin-left: 50px;
}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

/* Comandos para deixar as bolinhas coloridas */

#btn-violeta {
    background: #bdaccf;
}

#btn-grafite {
    background: #010202;
}

#btn-rose {
    background: #ead3cf;
}

#btn-azul {
    background: #adc7d3;
}

/*Fim do comando para deixar as bolinhas coloridas*/

#slides {
    display: flex;
    width: 400%;
    height: 80%;
}

.slide {
    width: 25%;
    transition: 0.5s;
}

#slides img {
    width: 300px;
    height: 300px;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

/* FOOTER */ 

footer img{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 42%;
}